{% extends 'baseAdmin.html.twig' %}

{% block title %}Administration | Création d'une mangas{% endblock %}

{% block body %}

    <h1 class="text-2xl font-bold">Créer un nouveau manga</h1>

    {{ form(form) }}

{% endblock %}
