{% extends 'baseAdmin.html.twig' %}

{% block title %}Administration | Modification d'un manga{% endblock %}

{% block body %}

    <h1 class="text-2xl font-bold">Modification du tome {{ manga.volumeNumber }} de la série {{ manga.serie.name }}</h1>

    {{ form(form) }}

{% endblock %}
