{% extends 'baseAdmin.html.twig' %}

{% block title %}Administration | Création d'un abonnement{% endblock %}

{% block body %}

    <h1 class="text-2xl font-bold">Créer un nouveau abonnement</h1>

    {{ form(form) }}

{% endblock %}
