{% extends 'baseAdmin.html.twig' %}

{% block title %}Administration | Création d'une série{% endblock %}

{% block body %}

    <h1 class="text-2xl font-bold">Créer une nouvelle série</h1>

    {{ form(form) }}

{% endblock %}
