{% extends 'baseAdmin.html.twig' %}

{% block title %}Administration | Création d'une catégories{% endblock %}

{% block body %}

    <h1 class="text-2xl font-bold">Modifier la série {{ serie.name }}</h1>

    {{ form(form) }}

{% endblock %}
